apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-deploy
  labels:
    app: front

spec:
  selector:
    matchLabels:
      app: frontend
  replicas: 2
  revisionHistoryLimit: 3
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 2

  template:
    metadata:
      name: nginx-roll
      labels:
        app: frontend
    spec:
      containers:
        - name: nginx
          image: nginx:1.16.1-alpine
          ports:
            - containerPort: 80
          resources:
          